*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}
h1, h2, h3{
   font-family: 'Palanquin Dark', sans-serif;
}
/* Orion icons */
.theme-line-0 {
   --layer2: #fcfcfc;
   --layer1: #fcfcfc;}

.theme-line-1 {
   --layer1: #202020;
}

.burger-icon{
   height: 28px;
   width: 28px;
   z-index: 2;
   margin: 5px;
}
.navigation{
   background: #1b98e0;
   width: 100vw;
   height: 3rem;
   position: fixed;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.menu{
   background-color: rgba(27, 152, 224, 0.95);
   position: fixed;
   width: 85vw;
   height: 100vh;
   top: 0;
   left: -100vw;
}
.menu ol{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 65px 0 0;
}
.menu li{
   width: 100%;
}
.menu a{
   height: 2.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   color: white;
   font-size: 1.2em;
}
/*Landing page*/
.main-container{
   height: 100vh;
   display: flex;
   flex-direction: column;
}
.title-container{
   background-color: #fcfcfc;
   padding: calc(3rem + 50px) 0 50px;
}
.title{
   font-size: 2.5rem;
   text-transform: uppercase;
   text-align: center;
   line-height: 4rem;
}
.emphasis{
   font-family: inherit;
   color: #ffca39;
}
.main{
   flex-grow: 1;
   background-color: #1b98e0;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}
.description{
   width: 80vw;
   margin: 3rem auto;
   padding: 1.2rem;
   background-color: rgba(0, 18,66,0.5);
   color: white;
}
.start-button-container{
   display: flex;
   justify-content: center;
}
.button{
   width: 80vw;
   height: 3rem;
   font-size: 1.1rem;
   border: none;
   border-radius: 30px;
   background: #a1cf31;
}
.social-links{
   margin: 60px 0;
   display: flex;
   justify-content: space-between;
}
.github, .twitter{
   width: 58px;
   height: 58px;
   background: #e0f2b6;
   padding: 0.5rem;
   border-radius: 50%;
   margin: 0 10px;
}
/*APP*/
.input-card-container{
   width: 100vw;
   height: 100vh;
   background: rgba(0, 0, 0, .5);
   position: fixed;
   z-index: 1;
   /* display: none; */
}
.input-card{
   background: #1b98ff;
   position: fixed;
   width: 90vw;
   height: 90vh;
   margin: 5vh 5vw;
   z-index: 2;
}
.input-card h2{
   text-align: center;
}
.input-menu{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   height: 90%;
   border: none;
   padding: 5px;
}
.input-menu label{
   font-size: 1.2em;
   width: 100%;
}
.input-text{
   font-size: 1.5rem;
   width: 100%;
   border: none;
   background-image: linear-gradient(to bottom, #e5e5e5 0%, #ffffff 100%);
}
.input-text, .input-select{
   font-size: 0.8rem;
   padding: 0.4rem;
   border-radius: 0.3rem;
   border: 1px solid #202020;
   font-weight: 600;
}
.input-select{
   display: block;
   width: 100%;
   background-image: url(../icons/arrow-down-filled-triangle.svg), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
   background-position: right .7rem top 50% , 0 0;
   background-size: 3%, 100%;
   background-repeat: no-repeat;
}
.pokemon-result{
   display: flex;
   height: 100vh;
   flex-direction: column;
}
.pokemon{
   padding-top: 3rem;
}
.pokemon-id-container{
   margin: 0.55rem 0;
   padding: 0 0.6rem;
}
.pokemon-id-container p{
   display: flex;
   justify-content: space-between;
}
.pokemon-id{
   font-weight: 700;
}
.pokemon-name{
   font-size: 2.4rem;
   text-align: center;
   text-transform: capitalize;
}
.pokemon-sprite-container{
   height: 9rem;
   text-align: center;
}
.pokemon-sprite{
   width: 196px;
   height: 196px;
   border: 6px solid black;
   border-radius: 50%;
   position: relative;
   bottom: -1rem;
   background: #fcfcfc;
}
.pokemon-info{
   background: red;
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}
.type-container{
   padding-top: calc(196px - 6rem);
   display: flex;
   justify-content: space-around;
}
.type{
   text-align: center;
   text-transform: capitalize;
   color: ivory;
   width: 8.3rem;
   height: 2rem;
   border-radius: 0.3rem;
   margin: 5px;
   line-height: 1.5rem;
}
.buttons-container{
   display: flex;
   justify-content: space-around;
}
.button-second{
   display: block;
   padding: 5px;
   margin-bottom: 10px;
   background: ivory;
   width: 35vw;
   height: 3rem;
   border-radius: 10px;
   text-decoration: none;
   text-align: center;
   line-height: 2.5rem;
   color: black;
}

.normal{background: #a8a878; border: 2px solid #6d6d4e}
.fire{background: #f08030; border: 2px solid #9c531f}
.fighting{background: #c03028; border: 2px solid #7d1f1a}
.water{background: #6890f0; border: 2px solid #445e9c}
.flying{background: #a890f0; border: 2px solid #6d5e9c}
.grass{background: #78c850; border: 2px solid #4e8234}
.poison{background: #a040a0; border: 2px solid #682a68}
.electric{background: #f8d030; border: 2px solid #a1871f}
.ground{background: #e0c068; border: 2px solid #927d44}
.psychic{background: #f85888; border: 2px solid #a13959}
.rock{background: #b8a038; border: 2px solid #786824}
.ice{background: #98d8d8; border: 2px solid #638d8d}
.bug{background: #a8b820; border: 2px solid #6d7815}
.dragon{background: #7038f8; border: 2px solid #4924a1}
.ghost{background: #705898; border: 2px solid #493963}
.dark{background: #474747; border: 2px solid #242424}
.steel{background: #b8b8d0; border: 2px solid #787887}
.fairy{background: #ee99ac; border: 2px solid #9b6470}


.footer{
   background: #001242;
   color: #fcfcfc;
   font-size: .8rem;
   text-align: center;
}
.invisible{
   display: none;
}