*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}
h1, h2, h3{
   font-family: 'Palanquin Dark', sans-serif;
}
/* Orion icons */
.theme-line-0 {
   --layer2: #fcfcfc;
   --layer1: #fcfcfc;}

.theme-line-1 {
--layer1: #202020;}

.burger-icon{
   height: 28px;
   width: 28px;
   z-index: 2;
   margin: 5px;
}
.navigation{
   background: #1b98e0;
   width: 100vw;
   height: 3rem;
   position: fixed;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.menu{
   background-color: rgba(27, 152, 224, 0.95);
   position: fixed;
   width: 85vw;
   height: 100vh;
   top: 0;
   left: -100vw;
}
.menu ol{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 65px 0 0;
}
.menu li{
   width: 100%;
}
.menu a{
   height: 2.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   color: white;
   font-size: 1.2em;
}
.title-container{
   background-color: #fcfcfc;
   padding: calc(3rem + 50px) 0 50px;
}
.title{
   font-size: 3.5rem;
   text-transform: uppercase;
   text-align: center;
   line-height: 4rem;
}
.emphasis{
   font-family: inherit;
   color: #ffca39;
}
.main{
   background-color: #1b98e0;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}
.description{
   width: 40vh;
   margin: 3rem auto;
   padding: 1.2rem;
   background-color: rgba(0, 18,66,0.5);
   color: white;
}

.github, .twitter{
   width: 40px;
   height: 40px;
}